@{
    ViewBag.Title = "Visual Studio Tooling";
}

<section id="content">
    <div class="container">
        <!--div.row.header>pix-436x185-abstract -city -people -animals-->

        <div class="row header"></div>
        <div class="row">
            <div class="flip-container text-center col-md-12">
                <div class="front">
                    <!--p.lead>lorem5-->

                    <div class="row text-center">
                        <!--button.btn.btn-info.btn-lg.option{Answer$}*4-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Starting-->
@*<section id="content">
        <div class="container">
        <!--div.row.header>pix-436x185-abstract -city -people -animals-->

            <div class="row header"></div>
            <div class="row">
                <div class="flip-container text-center col-md-12">
                    <div class="front">
                    <!--p.lead>lorem5-->

                        <div class="row text-center">
                            <!--button.btn.btn-info.btn-lg.option{Answer$}*4-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


